sudo: false

language: c

env:
  - GHCVER=7.8.4
  - GHCVER=7.10.2

addons:
  apt:
    sources:
      - hvr-ghc
    packages:
      - ghc-7.8.4
      - ghc-7.10.2
      - cabal-install-1.22

before_install:
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/1.22/bin:$PATH
  - (mkdir -p $HOME/.local/bin && cd $HOME/.local/bin && wget https://zalora-public.s3.amazonaws.com/tinc && chmod +x tinc)
  - ghc --version
  - cabal --version
  - tinc --version
  - travis_retry cabal update
  - sed -i 's/^jobs:/-- jobs:/' ${HOME}/.cabal/config

install:
  - tinc

script:
  - cabal configure --enable-tests --ghc-options=-Werror && cabal build && cabal test

before_deploy:
  - mkdir -p build
  - cp dist/build/tinc/tinc build

deploy:
  provider: s3
  access_key_id: AKIAIBUWFUF2B6KL7ZGQ
  secret_access_key:
    secure: "RSvT0PL1qw+/sxzlH9ezWgnF0VV4RR3pfgQljf9FUELrDpQEcrAXaTMGQKbUdxIfOJKrryP2C6LDHiQQLH7yd9JUdWd5e6U4ebHl5j9SuGMOUScptRk1jovp8MbXic33QpMDKqodheK7tVeZXmuUryLg5Hb3CCjv6Lu2BUJIZZ5cC0KTTL0pbHdOm+NlEfHXKOQ0Vjgyv6/1/MnYdsYOz0w/W/ynKvMKwG673knQE6DD8ACr7Np3tB7z/L+iQ9SrzQ1VLSll1IAo3lR3QY2x2MDebbaFgoGV3i3OLZQK89BoZHhfFU0AQqG6m65rfpmcERcfNsQm13camEQxD73M56TgUCHxj4uyNvaVAf4T0QxLf41eHJFExXekwm1+crW1ffFSmyaTMpS3EMJMa8XTF80X9rkzOxFlh8Vyj4VF/Ig7qdqXXfU619Lns67vxXI5QpM6MY5BQiY0Ku3JK6XDQKBbYinUSOIHAqh8xKMgQVq5V1qdQFMcI0fZpWWgubmBeM+Yu5wnUh4N346jlvsIq/pq37lSENcBKyS/G+wv/3hk8eaelFqi6GA6u6bOoiDfKCBV2lwnz93Z0wMOkKGRTxb5APosU6NHQJkeUxmxkgTpWFjFZ8XIHoZCj9NJy3YyqQgDy1rsRrpmrvRHk8ceBQUn8LsQX0iGBTM0LDAbzXE="
  bucket: zalora-public
  local_dir: build
  skip_cleanup: true
  acl: public_read
  on:
    condition: $GHCVER = 7.10.2

cache:
  directories:
    - $HOME/.tinc/cache
